<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Final Project</title>
</head>
<body>


<!-- NAVBAR -->
<nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="sites#index" class="navbar-brand">Chirp</a>
        </div>


        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="auth/spotify" data-id="signup" class='scroll-link'>Login</a></li> <!-- toggle with logout when logged in-->
            </ul>
        </div>
    </div>
</nav>
<!-- END OF NAVBAR -->

<!-- D3 stuff -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
<div id="container1" style="position: absolute; width: 100%; height: 100%">
<script>


//map
var map = new Datamap({
    scope: 'world',
    element: document.getElementById('container1'),
    projection: 'mercator',
    fills: {
        defaultFill: '#000000',
        lt50: 'rgba(0,244,244,0.9)',
        gt50: 'red'
    }
});

map.bubbles([
       {name: 'Hot', latitude: 21.32, longitude: 5.32, radius: 10, fillKey: 'gt50'},
       {name: 'Chilly', latitude: -25.32, longitude: 120.32, radius: 18, fillKey: 'lt50'},
       {name: 'Hot again', latitude: 21.32, longitude: -84.32, radius: 8, fillKey: 'gt50'}
    ], {
    popupTemplate: function(geo, data) {
      return "<div class='hoverinfo'>It is " + data.name + "</div>";
  }
});

 </script>
 </div>

<!-- END OF d3 stuff -->




</body>
</html>