<style>
body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.modal-backdrop {background: #f7f7f7;}

.li > .a {
  color: #F6FAFD;
}

</style>


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Final Project</title>

<script>
    d3.selectAll("body").text("YES, YOU REALLY ARE LOOKING AT D3 :D");
</script>

</head>
<body>


<!-- NAVBAR -->
<nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="sites#index" class="navbar-brand">Chirp</a>
        </div>


        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Login</a></li> <!-- toggle with logout when logged in-->
            </ul>
        </div>
    </div>
</nav>
<!-- END OF NAVBAR -->


<!-- LOG IN AND SIGN UP MODAL -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">

           <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
              <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in" id="why">
        <p>This website will show you the album releases for each year according to their popularity and their available markets</p><br>

        <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p><br>
        <br> Please contact <a mailto:href="maia.hariton@gmail.com" or "ncaskey04@gmail.com"></a>maia.hariton@gmail.com or ncaskey04@gmail.com</a> for any other inquiries.</p>
        </div>
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal">
            <fieldset>

<!-- EMAIL -->
            <div class="control-group">
              <label class="control-label" for="email">Email:</label>
              <div class="controls">
                <input required id="email" name="email" type="text" class="input-medium form-control" placeholder="JoeSixpack">
              </div>
            </div>

<!-- PASSWORD WHEN LOGGING IN-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <input required id="passwordinput" name="passwordinput" class="form-control input-medium" type="password">
              </div>
            </div>

<!-- BUTTON TO SIGN IN -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <button id="signin" class="btn btn-success" type="submit">Sign In</button>
              </div>
            </div>
            </fieldset>
            </form>
        </div>

<!-- SIGN UP    -->
        <div class="tab-pane fade" id="signup">
            <form class="register form-horizontal">
            <fieldset>

            <div class="control-group">
              <label class="control-label" for="Email">Email:</label>
              <div class="controls">
                <input class="signup_email form-control input-large" type="text"  required="">
              </div>
            </div>

<!-- PASSWORD-->
            <div class="control-group">
              <label class="control-label" for="password">Password:</label>
              <div class="controls">
                <input class="signup_password input-large form-control" type="password" required="">
                <em>1-8 Characters</em>
              </div>
            </div>

<!-- PASSWORD CONFIRMATION-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
              <div class="controls">
                <input class="signup_password_confirmation form-control input-large" type="password" required >
              </div>
            </div>

<!-- Humanity check -->
            <br>
            <div class="control-group">
              <label class="control-label" for="humancheck">Humanity Check:</label>
              <div class="controls">
                <label class="radio inline" for="humancheck-0">
                  <input type="radio" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                <label class="radio inline" for="humancheck-1">
                  <input type="radio" id="humancheck-1" value="human">I'm Human</label>
              </div>
            </div>

<!-- To sign up -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="confirmsignup" class="btn btn-success" type="submit">Sign Up</button>
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>

<!-- TO CLOSE -->
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>


      </div>
    </div>
  </div>
</div>
<!-- LOG IN AND SIGN UP MODAL -->

</div>
</body>
</html>